/* General */
* {
    font-family: 'Roboto';
  }
  
  body {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
  }
  
  header {
    background-color: #FFF;
    border-bottom: 1px solid #CCC;
  }
  
  .row {
    margin: 0;
  }
  
  .container-fluid {
    padding: 0;
  }
  
  .btn-primary {
    background-color:#00afef;
    border: 2px solid #ffffff;
    border-radius: 10px;
  }
  
  .btn-primary:hover {
    background-color: #ffffff;
    border-color:#00afef;
    color: #000;

  }
  
  /* navbar */
  #navbar img {
    width: 140px;
  }
  
  #navbar {
    justify-content: space-between;
    background-color: #ffffff;
    padding: 5px 0;
  }
  
  #navbar a {
    font-size: 17px;
    font-weight: bold;
    color: #00afef;
  }
  
  #navbar a:hover {
    color: #000000;
  }
  
  /* Search Container */
  #search-container {
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 50px;
    text-align: center;
    font-weight: bold;
    color: #00afef;
  }
  
  #search-container h1 {
    color: #00afef;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  #search-container form {
    width: 50%;
    margin: 0 auto;
  }
  
  /* Imoveis list */
  #imoveis-container {
    padding: 30px;
  }
  
  #imoveis-container h2 {
    margin-bottom: 10px;
  }
  
  #imoveis-container .subtitle {
    color: #757575;
    margin-bottom: 30px;
  }
  
  #cards-container {
    display: flex;
  }
  
  #imoveis-container .card {
    flex: 1 1 0;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: 5px;
  }
  
  #imoveis-container img {
    max-height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .card .card-date {
    font-size: 12px;
    color: #CCC;
  }
  
  .card .card-title {
    color: #212121;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .card-participantes {
    font-size: 14px;
    color: #757575;
  }
  
  /* footer */
  footer {
    text-align: center;
    background-color: #353E48;
    color: #FFF;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    margin-bottom: 0;
  }